<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
  <p>
    Please find attached the pdf with the QR codes for your newly created mycelia.
  </p>
</body>
</html>
